<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.BusinesspassDao">

    <!--检查用户名对应密码是否正确-->
    <select id="selectBusinessPass" parameterType="com.qianfeng.pojo.Businesspass" resultType="com.qianfeng.pojo.Businesspass" >
            select * from businesspass where business_pass_word = #{business_pass_word} and business_id = #{business_id}
    </select>
    <!--创建用户名对应密码-->
    <insert id="insertBusinessPass" parameterType="com.qianfeng.pojo.Businesspass" >
        insert into businesspass (business_pass_word,business_id) values(#{business_pass_word},#{business_id});
    </insert>



</mapper>
